# Ignore Node.js dependencies (for React frontend)
frontend/node_modules/

# Ignore build output (for React frontend)
frontend/build/
frontend/dist/


# Ignore npm or Yarn lock files (if not needed)
frontend/package-lock.json

# Ignore logs (both frontend and backend)
logs
*.log
npm-debug.log*

# Ignore Python bytecode (for Django backend)
backend/__pycache__/
backend/*.pyc
backend/*.pyo
backend/*.pyd

# Ignore virtual environment folder (for Django backend)
backend/venv/
backend/.venv/
backend/env/
backend/.env/
backend/env.bak/
backend/.env.bak/

# Ignore Django migration files (optional)
backend/**/migrations/*.pyc
backend/**/migrations/*.pyo



# Ignore Django static files (generated)
backend/staticfiles/
backend/media/

# Ignore IDE or editor-specific settings
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db
node_modules
